<dl class="row g-pt-30 g-pt-0--lg">
    <dt class="col-sm-5 text-uppercase">Спектакль</dt>
    <dd class="col-sm-7"><a href="{% url 'play' %}">{{ event.play.title }}</a></dd>

    <dt class="col-sm-5 text-uppercase">Дата</dt>
    <dd class="col-sm-7">{{ event.date }}</dd>

    <dt class="col-sm-5 text-uppercase">Время</dt>
    <dd class="col-sm-7">{{ event.time }}</dd>

    <dt class="col-sm-5 text-uppercase">Место проведения</dt>
    <dd class="col-sm-7">{{ event.place }}</dd>


    <dt class="col-sm-5 text-uppercase">Адрес</dt>
    <dd class="col-sm-7">{{ event.address }}</dd>


    <dt class="col-sm-5 text-uppercase">Зрителей</dt>
    <dd class="col-sm-7">
        <div class="progress rounded-0 g-overflow-visible g-mb-20">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {{ event.get_spectators_percent }}%;"
                 aria-valuenow="{{ event.get_spectators|length }}"
                 aria-valuemin="0"
                 aria-valuemax="{{ event.visitors_count }}">
                <div class="pull-right g-font-size-11 g-px-5">{{ event.get_spectators|length }}/{{ event.visitors_count }}</div>
            </div>
        </div>
    </dd>
</dl>

{% if event.text %}
    <div class="g-pt-20--lg">
        {{ event.text|safe }}
    </div>
{% endif %}