<dl class="row g-pt-30 g-pt-0--lg">
    <dt class="col-sm-5 text-uppercase">Спектакль</dt>
    <dd class="col-sm-7"><a href="{% url 'play' %}">{{ event.play.title }}</a></dd>

    <dt class="col-sm-5 text-uppercase">Дата</dt>
    <dd class="col-sm-7">{{ event.date }}</dd>

    <dt class="col-sm-5 text-uppercase">Время</dt>
    <dd class="col-sm-7">{{ event.time }}</dd>

    <dt class="col-sm-5 text-uppercase">Место проведения</dt>
    <dd class="col-sm-7">{{ event.place.title }}</dd>


    <dt class="col-sm-5 text-uppercase">Адрес</dt>
    <dd class="col-sm-7">{{ event.place.address }}</dd>


    <dt class="col-sm-5 text-uppercase">Зрителей</dt>
    <dd class="col-sm-7">
        <div class="progress rounded-0 g-overflow-visible g-mb-20">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {% if event.registration_closed and event.show_full_visitors %}100{% else %}{{ event.get_spectators_percent }}{% endif %}%;"
                 aria-valuenow="{% if event.registration_closed and event.show_full_visitors %}{{ event.visitors_count }}{% else %}{{ event.get_spectators|length }}{% endif %}"
                 aria-valuemin="0"
                 aria-valuemax="{{ event.visitors_count }}">
                <div class="pull-right g-font-size-11 g-px-5">{% if event.registration_closed and event.show_full_visitors %}{{ event.visitors_count }}/{{ event.visitors_count }}{% else %}{{ event.get_spectators|length }}/{{ event.visitors_count }}{% endif %}</div>
            </div>
        </div>
    </dd>
</dl>

{% if event.text %}
    <div class="g-pt-20--lg">
        {{ event.text|safe }}
    </div>
{% endif %}