{% set title = "Фотоархив" %}
{% set active_menu = "photo_archive" %}

{% extends "app/nunjucks/layout/base.njk" %}

{% block content %}
    <!-- Promo Block -->
    {% include "app/nunjucks/pages/photo_archive/_partials/breadcrumbs.njk" %}
    <!-- End Promo Block -->

    <section class="container g-pt-100 g-pb-40">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Фото с
                    мероприятий</h2>
            </div>
            <p class="g-font-size-16">Ниже представлены фотографии с наших спектаклей. Ставьте <strong>"Like"</strong>
                наиболее понравившимся, чтоб они отображались выше в списке!</p></header>

            <gallery />
    </section>
{% endblock %}