<!-- Blog Grid Classic Blocks -->
<div class="container g-py-100">
    <div class="masonry-grid row g-mb-70">
        <div class="masonry-grid-sizer col-sm-1"></div>

        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Classic Blocks -->
            <article class="u-shadow-v11">
                <img class="img-fluid w-100" src="img/news/1.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-20">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">30 марта 2018</span>
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="news_detail.html">Съёмка
                            рекламного ролика</a>
                    </h2>
                    <p class="g-line-height-1_8">Делимся с вами кусочком дел закулисных со съёмок рекламного ролика для
                        проекта театр «Мягкий знак», спектакль «В гостях у Ивана»!</p>
                    <a class="g-font-size-13" href="news_detail.html">Читать далее...</a>

                    <hr class="g-my-20">

                    <ul class="list-inline d-flex justify-content-between mb-0">
                        <li class="list-inline-item g-color-gray-dark-v4">
                            <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                               href="#!">
                                <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                10 Комментариев
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Blog Classic Blocks -->
        </div>

        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Classic Blocks -->
            <article class="u-shadow-v11">
                <img class="img-fluid w-100" src="img/news/2.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-20">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">15 марта 2018</span>
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="news_detail.html">Сбор
                            команды</a>
                    </h2>
                    <p class="g-line-height-1_8">Ура! Только что состоялся сбор команды по случаю старта реализации
                        нашего проекта! Вас ждут
                        показы спектакля «В гостях у Ивана»по всему Севастополю!</p>
                    <a class="g-font-size-13" href="news_detail.html">Читать далее...</a>

                    <hr class="g-my-20">

                    <ul class="list-inline d-flex justify-content-between mb-0">
                        <li class="list-inline-item g-color-gray-dark-v4">
                            <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                               href="#!">
                                <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                10 Комментариев
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Blog Classic Blocks -->
        </div>

        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Classic Blocks -->
            <article class="u-shadow-v11">
                <img class="img-fluid w-100" src="img/news/3.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-20">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">8 марта 2018</span>
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="news_detail.html">Старт проекта совсем скоро!</a>
                    </h2>
                    <p class="g-line-height-1_8">Друзья! Как мы уже упоминали - совсем скоро стартуют большие гастроли нашего небольшого, но очень мобильного и интерактивного театра "Мягкий знак"!</p>
                    <a class="g-font-size-13" href="news_detail.html">Читать далее...</a>

                    <hr class="g-my-20">

                    <ul class="list-inline d-flex justify-content-between mb-0">
                        <li class="list-inline-item g-color-gray-dark-v4">
                            <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                               href="#!">
                                <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                10 Комментариев
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Blog Classic Blocks -->
        </div>

        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Classic Blocks -->
            <article class="u-shadow-v11">
                <img class="img-fluid w-100" src="img/news/1.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-20">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">30 марта 2018</span>
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="news_detail.html">Съёмка
                            рекламного ролика</a>
                    </h2>
                    <p class="g-line-height-1_8">Делимся с вами кусочком дел закулисных со съёмок рекламного ролика для
                        проекта театр «Мягкий знак», спектакль «В гостях у Ивана»!</p>
                    <a class="g-font-size-13" href="news_detail.html">Читать далее...</a>

                    <hr class="g-my-20">

                    <ul class="list-inline d-flex justify-content-between mb-0">
                        <li class="list-inline-item g-color-gray-dark-v4">
                            <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                               href="#!">
                                <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                10 Комментариев
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Blog Classic Blocks -->
        </div>

        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Classic Blocks -->
            <article class="u-shadow-v11">
                <img class="img-fluid w-100" src="img/news/2.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-20">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">15 марта 2018</span>
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="news_detail.html">Сбор
                            команды</a>
                    </h2>
                    <p class="g-line-height-1_8">Ура! Только что состоялся сбор команды по случаю старта реализации
                        нашего проекта! Вас ждут
                        показы спектакля «В гостях у Ивана»по всему Севастополю!</p>
                    <a class="g-font-size-13" href="news_detail.html">Читать далее...</a>

                    <hr class="g-my-20">

                    <ul class="list-inline d-flex justify-content-between mb-0">
                        <li class="list-inline-item g-color-gray-dark-v4">
                            <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                               href="#!">
                                <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                10 Комментариев
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Blog Classic Blocks -->
        </div>

        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Classic Blocks -->
            <article class="u-shadow-v11">
                <img class="img-fluid w-100" src="img/news/3.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-20">
                    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">8 марта 2018</span>
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="news_detail.html">Старт проекта совсем скоро!</a>
                    </h2>
                    <p class="g-line-height-1_8">Друзья! Как мы уже упоминали - совсем скоро стартуют большие гастроли нашего небольшого, но очень мобильного и интерактивного театра "Мягкий знак"!</p>
                    <a class="g-font-size-13" href="news_detail.html">Читать далее...</a>

                    <hr class="g-my-20">

                    <ul class="list-inline d-flex justify-content-between mb-0">
                        <li class="list-inline-item g-color-gray-dark-v4">
                            <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                               href="#!">
                                <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                10 Комментариев
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
            <!-- End Blog Classic Blocks -->
        </div>
    </div>

    <!-- Pagination Block -->
    {% include "app/nunjucks/pages/news/list/_partials/pagination.njk" %}
    <!-- End Pagination Block -->
</div>
<!-- End Blog Grid Classic Blocks -->