Django==2.0.3
django-ckeditor==5.4.0
django-colorful==1.2
django-debug-panel==0.8.3
django-debug-toolbar==1.9.1
django-js-asset==1.0.0
easy-thumbnails==2.5
Pillow==5.0.0
pytz==2018.3
singlemodeladmin==0.8
sqlparse==0.2.4
