{% set title = "Главная страница" %}
{% set active_menu = "home" %}

{% extends "app/nunjucks/layout/base.njk" %}

{% block content %}
    <!-- Promo Block -->
    {% include "app/nunjucks/pages/home/_partials/promo.njk" %}
    <!-- End Promo Block -->

    <!-- Icon Blocks -->
    {% include "app/nunjucks/pages/home/_partials/icons.njk" %}
    <!-- End Icon Blocks -->

    <!-- About Block -->
    {% include "app/nunjucks/pages/home/_partials/about.njk" %}
    <!-- End About Block -->

    <!-- Map Block -->
    {% include "app/nunjucks/pages/home/_partials/map.njk" %}
    <!-- End Map Block -->

    <!-- Last News Block -->
    {% include "app/nunjucks/pages/home/_partials/news.njk" %}
    <!-- End Last News Block -->
{% endblock %}