<section class="container g-pt-100 g-pb-50">
    <div class="row">
        <div class="col-lg-12">
            <!-- Heading -->
            <div class="text-center">
                <h2 class="h3 g-color-black text-uppercase mb-2">Описание проекта</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            </div>
            <!-- End Heading -->

            <div class="g-line-height-1_8">
                <p>Мы, актёры Севастопольских театров, объединили профессионалов театрального искусства в инициативную
                    группу и создали «мобильный интерактивный театр» (МИТ), для постановки и проведения спектаклей для
                    детей
                    и молодёжи на социальную тематику. «МИТ» - представляет собой многофункциональную конструкцию
                    (восьмиугольник), снаружи и внутри которой происходит театральное действие. Благодаря мобильности
                    конструкции, представления смогут проводиться как в помещениях (фойе, спортзалах, столовых и т.д.)
                    так и
                    на улице: в парках, скверах, пляжах и т.п. В форме Русской народной сказки, зрителю представлено
                    интерактивное действо, призванное: привить любовь к родной культуре и бережное отношение к природе.
                    Спектакль ведут профессиональные актёры с большим опытом работы в интерактивных спектаклях.</p>
                <p>Так же, мы проводим, после спектакля, театрализованный субботник. Младшее поколение под руководством
                    старших товарищей и вместе с героями сказки, организованно чистят территорию близ своих школ,
                    детдомов,
                    детских площадок от неорганического мусора. Это позволяет молодым людям почувствовать
                    ответственность не
                    только за экологию, но и за подрастающее поколение. В финале спектакля зрителей посвящают в "Юные
                    защитники природы", вручают им символические перчатки (для сбора мусора) и памятные значки.</p>
                <p>Сказка "В гостях у Ивана" представляет собой высокохудожественную "информационную бомбу".
                    Внушительный
                    объём информации транслируемой зрителю моментально усваивается и откладывается в подсознании,
                    благодаря
                    лёгкой, игровой форме подачи.
                    Спектакль получил высокую оценку профессионального театрального сообщества (победа в двух номинациях
                    театрального фестиваля <a target="_blank" href="http://sevastopol.press/2017/06/15/festival-skazochnoe-korolevstvo-sobral-vse-skazki-kryma/">"Сказочное королевство 2017"</a>
                    ), а
                    также
                    руководителей и учащихся детских образовательных учреждений. Получена масса благодарностей от
                    различных
                    учреждений и множество отзывов от зрителей.</p>
                <p>В рамках проекта планируется проехать с «гастролями» по 10 муниципальным образованиям Севастополя,
                    показать по 2 спектакля в каждом районе (на территории учреждений подведомственных Главному
                    Управлению
                    культуры г. Севастополя) и провести театрализованные субботники. Зрителем выступят дети из
                    многодетных
                    семей и семей попавших в трудную ситуацию. Спектакли проводятся полностью на благотворительной
                    основе.
                    Во время спектакля, профессиональный фотограф снимет яркие моменты и устроит фото-сессию со
                    зрителями в
                    финале.</p>
            </div>
        </div>
    </div>
</section>