<section class="container g-pt-70 g-pb-100">
    <div class="row justify-content-center g-mb-30">
        <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center">
                <h2 class="h3 g-color-black text-uppercase mb-2">Проект поддерживают</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary"></div>
            </div>
            <!-- End Heading -->
        </div>
    </div>

    <div class="js-carousel" data-autoplay="true" data-slides-show="4" data-responsive='[{
       "breakpoint": 992,
       "settings": {
         "slidesToShow": 3
       }
     }, {
       "breakpoint": 768,
       "settings": {
         "slidesToShow": 2
       }
     }, {
       "breakpoint": 576,
       "settings": {
         "slidesToShow": 1
       }
     }]'>
        <div class="js-slide g-brd-around g-brd-gray-light-v3--hover g-transition-0_2 rounded g-pa-5 g-mx-10">
            <img class="mx-auto g-width-200" src="img/partners/1.jpg"
                 title="Союз театральных деятелей Российской Федерации"
                 alt="Союз театральных деятелей Российской Федерации">
        </div>

        <div class="js-slide g-brd-around g-brd-gray-light-v3--hover g-transition-0_2 rounded g-pa-5 g-mx-10">
            <img class="mx-auto g-width-200" src="img/partners/2.jpg"
                 title="Управление по делам молодёжи и спорта г. Севастополя"
                 alt="Управление по делам молодёжи и спорта г. Севастополя">
        </div>

        <div class="js-slide g-brd-around g-brd-gray-light-v3--hover g-transition-0_2 rounded g-pa-5 g-mx-10">
            <img class="mx-auto g-width-200" src="img/partners/3.jpg"
                 title="Росмолодёжь"
                 alt="Росмолодёжь">
        </div>

        <div class="js-slide g-brd-around g-brd-gray-light-v3--hover g-transition-0_2 rounded g-pa-5 g-mx-10">
            <img class="mx-auto g-width-200" src="img/partners/4.jpg"
                 title="Общественная палата Российской Федерации"
                 alt="Общественная палата Российской Федерации">
        </div>
    </div>
</section>