<!-- Heading -->
<header class="text-center g-width-60x--md mx-auto g-mb-25">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Регистрация на мероприятие</h2>
    </div>
</header>
<!-- End Heading -->

<div class="g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-25 g-py-50--md">
    <event-registration-form event_id="1"></event-registration-form>
</div>