<p>Сказка <strong>"В гостях у Ивана"</strong> представляет собой высокохудожественную "информационную бомбу". Внушительный объём
    информации транслируемой зрителю моментально усваивается и откладывается в подсознании, благодаря лёгкой, игровой
    форме подачи. Спектакль получил высокую оценку профессионального театрального сообщества (победа в двух номинациях
    театрального фестиваля "Сказочное королевство 2017"), а также руководителей и учащихся детских образовательных
    учреждений. Получена масса благодарностей от различных учреждений и множество отзывов от зрителей.</p>