<span class="text-muted">2 час. 20 мин.</span>

<dl class="row g-mt-30">
    <dt class="col-sm-7 text-uppercase">Автор</dt>
    <dd class="col-sm-5">Денис Фонвизин</dd>


    <dt class="col-sm-7 text-uppercase">Режиссёр</dt>
    <dd class="col-sm-5">Борис Вахтеров</dd>


    <dt class="col-sm-7 text-uppercase">Художник-постановщик</dt>
    <dd class="col-sm-5">Татьяна Карасева</dd>


    <dt class="col-sm-7 text-uppercase">Художник по свету</dt>
    <dd class="col-sm-5">Алексей Майко</dd>


    <dt class="col-sm-7 text-uppercase">Музыкальное оформление</dt>
    <dd class="col-sm-5">Денис Фонвизин</dd>
</dl>