<section class="g-pt-70 g-pb-30 g-bg-gray-light-v5">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-30">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">О проекте</h2>
            </div>
        </header>

        <div class="row g-mb-0">
            <div class="col-lg-6">
                <p>Мы, актёры Севастопольских театров, объединили профессионалов театрального искусства в
                    инициативную группу и создали «мобильный интерактивный театр» (МИТ), для постановки и проведения
                    спектаклей для детей и молодёжи на социальную тематику.</p>
                <p>«МИТ» - представляет собой многофункциональную конструкцию (восьмиугольник), снаружи и внутри
                    которой происходит театральное действие. Благодаря мобильности конструкции, представления смогут
                    проводиться как в
                    помещениях (фойе, спортзалах, столовых и т.д.) так и на улице: в парках, скверах, пляжах и т.п.
                    В форме Русской народной сказки, зрителю представлено интерактивное действо, призванное: привить
                    любовь к родной культуре и бережное отношение к природе.
                <p>Целью проекта является знакомство детей из всех муниципальных образований Севастополя с основами
                    экологии и привить
                    бережное отношение к природе. А также дать старшим почувствовать ответственность за подрастающее
                    поколение и тот мир в которым им предстоит жить. </p>
            </div>
            <div class="col-lg-6 text-center g-mb-30">
                <div class="js-carousel text-center g-pb-30" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0">
                    <div class="js-slide">
                        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="img/img-temp/900x600/img5.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                            <img class="img-fluid g-rounded-6" src="img/img-temp/900x600/img5.jpg" alt="Image Description">
                        </a>
                    </div>

                    <div class="js-slide">
                        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="img/img-temp/900x600/img4.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                            <img class="img-fluid g-rounded-6" src="img/img-temp/900x600/img4.jpg" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>