<section class="g-py-80">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Спектакли в разных
                        местах</h3>
                    <p class="mb-0">Благодаря мобильности конструкции, представления проводятся как в помещениях (фойе,
                        спортзалах, столовых и т.д.) так и на улице: в парках, скверах, пляжах и т.п.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">20 мероприятий</h3>
                    <p class="mb-0">В рамках проекта планируется проехать с «гастролями» по 10 муниципальным
                        образованиям Севастополя, показать по 2 спектакля в каждом районе. Спектакли проводятся
                        полностью на благотворительной основе.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Профессиональные
                        актёры</h3>
                    <p class="mb-0"> Спектакль ведут профессиональные актёры с большим опытом работы в интерактивных
                        спектаклях.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
</section>