<section class="g-pt-70">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-30">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Карта
                    предстоящих мероприятий</h2>
            </div>
            <p class="g-font-size-16">На каждое мероприятие могут зарегистрироваться только <strong>25 человек</strong>.
                Спешите это сделать первыми! Для этого <strong>нажмите на маркер</strong> и перейдите на страницу
                мероприятия.</p>
        </header>
    </div>

    <div class="g-min-height-400">
        <yandex-map
                :coords="[44.62, 33.52]"
                zoom="12"
                style="width: 100%; height: 400px;"
        >

            <ymap-marker
                    marker-type="placemark"
                    :coords="[44.61410128, 33.52392752]"
                    hint-content="СОШ №265"
                    :balloon="{header: 'СОШ №265', body: '<strong>Дата и время:</strong> 20 марта 2018 года в 18:00 <br><strong>Мест осталось:</strong> 20/25 <br><a href=#>Перейти на страницу мероприятия</a>'}"
                    :options="{iconColor: '#735184', preset: 'islands#greenDotIconWithCaption'}"
                    cluster-name="1"
            ></ymap-marker>

            <ymap-marker
                    marker-type="placemark"
                    :coords="[44.60420179, 33.51472217]"
                    hint-content="СОШ №265"
                    :balloon="{header: 'СОШ №265', body: '<strong>Дата и время:</strong> 20 марта 2018 года в 18:00 <br><strong>Мест осталось:</strong> 20/25 <br><a href=#>Перейти на страницу мероприятия</a>'}"
                    :options="{iconColor: '#56844a', preset: 'islands#greenDotIconWithCaption'}"
                    cluster-name="1"
            ></ymap-marker>

            <ymap-marker
                    marker-type="placemark"
                    :coords="[44.59085137, 33.53995977]"
                    hint-content="СОШ №265"
                    :balloon="{header: 'СОШ №265', body: '<strong>Дата и время:</strong> 20 марта 2018 года в 18:00 <br><strong>Мест осталось:</strong> 20/25 <br><a href=#>Перейти на страницу мероприятия</a>'}"
                    :options="{iconColor: '#295e84', preset: 'islands#greenDotIconWithCaption'}"
                    cluster-name="1"
            ></ymap-marker>

        </yandex-map>
    </div>
</section>