<section class="g-py-70">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-30">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Последние новости</h2>
            </div>
        </header>


        <!-- News Block -->
        <div class="row">
            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v22">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="img/news/1.jpg"
                             alt="Image Description">
                        <figcaption
                                class="text-uppercase text-center g-line-height-1_2 g-bg-white-opacity-0_8 g-color-gray-dark-v2 g-pos-abs g-top-20 g-px-15 g-py-10">
                            <strong class="d-block">30</strong>
                            <hr class="g-brd-gray-dark-v2 my-1">
                            <small class="d-block">Марта</small>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h5 g-mb-15">
                            <a class="u-link-v5 g-color-main g-font-weight-600 g-color-primary--hover" href="news_detail.html">Съёмка рекламного
                                ролика</a>
                        </h3>

                        <p>Делимся с вами кусочком дел закулисных со съёмок рекламного ролика для проекта театр «Мягкий
                            знак», спектакль «В гостях у Ивана»!</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v22">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="img/news/2.jpg"
                             alt="Image Description">
                        <figcaption
                                class="text-uppercase text-center g-line-height-1_2 g-bg-white-opacity-0_8 g-color-gray-dark-v2 g-pos-abs g-top-20 g-px-15 g-py-10">
                            <strong class="d-block">15</strong>
                            <hr class="g-brd-gray-dark-v2 my-1">
                            <small class="d-block">Марта</small>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h5 g-mb-15">
                            <a class="u-link-v5 g-color-main g-font-weight-600 g-color-primary--hover" href="news_detail.html">Сбор команды</a>
                        </h3>

                        <p>Ура! Только что состоялся сбор команды по случаю старта реализации нашего проекта! Вас ждут
                            показы спектакля «В гостях у Ивана»по всему Севастополю! </p>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v22">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="img/news/3.jpg"
                             alt="Image Description">
                        <figcaption
                                class="text-uppercase text-center g-line-height-1_2 g-bg-white-opacity-0_8 g-color-gray-dark-v2 g-pos-abs g-top-20 g-px-15 g-py-10">
                            <strong class="d-block">8</strong>
                            <hr class="g-brd-gray-dark-v2 my-1">
                            <small class="d-block">Марта</small>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h5 g-mb-15">
                            <a class="u-link-v5 g-color-main g-font-weight-600 g-color-primary--hover" href="news_detail.html">Старт проекта совсем скоро!</a>
                        </h3>

                        <p>Друзья! Как мы уже упоминали - совсем скоро стартуют большие гастроли нашего небольшого, но
                            очень мобильного и интерактивного театра "Мягкий знак"!</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>
        </div>
        <!-- End News Block -->
    </div>
</section>