<section class="g-py-70">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-30">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Новости</h2>
            </div>
        </header>


        <!-- News Block -->
        <div class="row">
            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v22">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="img/img-temp/900x600/img1.jpg"
                             alt="Image Description">
                        <figcaption
                                class="text-uppercase text-center g-line-height-1_2 g-bg-white-opacity-0_8 g-color-gray-dark-v2 g-pos-abs g-top-20 g-px-15 g-py-10">
                            <strong class="d-block">07</strong>
                            <hr class="g-brd-gray-dark-v2 my-1">
                            <small class="d-block">Марта</small>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h5 g-mb-15">
                            <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#!">Responsive Web
                                Design</a>
                        </h3>

                        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp
                            imperdiet molestie est volutpat at. Sed viverra cursus nibh.</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v22">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="img/img-temp/900x600/img4.jpg"
                             alt="Image Description">
                        <figcaption
                                class="text-uppercase text-center g-line-height-1_2 g-bg-white-opacity-0_8 g-color-gray-dark-v2 g-pos-abs g-top-20 g-px-15 g-py-10">
                            <strong class="d-block">05</strong>
                            <hr class="g-brd-gray-dark-v2 my-1">
                            <small class="d-block">Марта</small>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h5 g-mb-15">
                            <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#!">Quality Template
                                Freebies</a>
                        </h3>

                        <p>Imperdiet elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus
                            tellusimp imperdiet molestie est sed viverra cursus nibh, volutpat at.</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="u-shadow-v22">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="img/img-temp/900x600/img3.jpg"
                             alt="Image Description">
                        <figcaption
                                class="text-uppercase text-center g-line-height-1_2 g-bg-white-opacity-0_8 g-color-gray-dark-v2 g-pos-abs g-top-20 g-px-15 g-py-10">
                            <strong class="d-block">02</strong>
                            <hr class="g-brd-gray-dark-v2 my-1">
                            <small class="d-block">Марта</small>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h5 g-mb-15">
                            <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#!">Speaking About
                                UX/UI</a>
                        </h3>

                        <p>Imperdiet elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus
                            tellusimp imperdiet molestie est sed viverra cursus nibh, volutpat at.</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>
        </div>
        <!-- End News Block -->
    </div>
</section>