<section class="container g-pt-100 g-pb-50">
    <!-- Heading -->
    <header class="text-center g-width-60x--md mx-auto g-mb-50">
        <p class="g-font-size-16">Приглашаем вас посмотреть наш спектакль <a href="#">"В гостях у Ивана"</a>, спешите
            зарегистрироваться. Количество мест ограничено <strong>25 зрителями</strong>!</p>
    </header>
    <!-- End Heading -->

    <!--Basic Table-->
    <div class="table-responsive">
        <table class="table table-bordered u-table--v2">
            <thead class="text-uppercase g-letter-spacing-1">
            <tr>
                <th class="g-font-weight-600 g-color-black">Дата</th>
                <th class="g-font-weight-600 g-color-black">Время</th>
                <th class="g-font-weight-600 g-color-black">Место</th>
                <th class="g-font-weight-600 g-color-black">Адрес</th>
                <th class="g-font-weight-600 g-color-black">Зарегистрировано участников</th>
                <th class="g-font-weight-600 g-color-black"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-calendar g-mr-1"></i>
                    <span>10 марта 2018 г.</span>
                </td>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-clock-o g-mr-1"></i>
                    <span>18:00</span>
                </td>
                <td class="align-middle">Средняя образовательная школа №265</td>
                <td class="align-middle">
                    <div class="d-flex">
                        <i class="fa fa-map-marker g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                        <span>389ZA2 DeClaudine, CA, USA</span>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="progress rounded-0 g-overflow-visible g-mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="25">
                            <div class="pull-right g-font-size-11 g-px-5">5/25</div>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" href="future_event.html">
                        <i class="fa fa-plus g-mr-5"></i>
                        Зарегистрироваться
                    </a>
                </td>
            </tr>
            <tr>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-calendar g-mr-1"></i>
                    <span>10 марта 2018 г.</span>
                </td>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-clock-o g-mr-1"></i>
                    <span>18:00</span>
                </td>
                <td class="align-middle">Средняя образовательная школа №265</td>
                <td class="align-middle">
                    <div class="d-flex">
                        <i class="fa fa-map-marker g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                        <span>389ZA2 DeClaudine, CA, USA</span>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="progress rounded-0 g-overflow-visible g-mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="25">
                            <div class="pull-right g-font-size-11 g-px-5">5/25</div>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" href="future_event.html">
                        <i class="fa fa-plus g-mr-5"></i>
                        Зарегистрироваться
                    </a>
                </td>
            </tr>
            <tr>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-calendar g-mr-1"></i>
                    <span>10 марта 2018 г.</span>
                </td>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-clock-o g-mr-1"></i>
                    <span>18:00</span>
                </td>
                <td class="align-middle">Средняя образовательная школа №265</td>
                <td class="align-middle">
                    <div class="d-flex">
                        <i class="fa fa-map-marker g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                        <span>389ZA2 DeClaudine, CA, USA</span>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="progress rounded-0 g-overflow-visible g-mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="25">
                            <div class="pull-right g-font-size-11 g-px-5">5/25</div>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" href="future_event.html">
                        <i class="fa fa-plus g-mr-5"></i>
                        Зарегистрироваться
                    </a>
                </td>
            </tr>
            <tr>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-calendar g-mr-1"></i>
                    <span>10 марта 2018 г.</span>
                </td>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-clock-o g-mr-1"></i>
                    <span>18:00</span>
                </td>
                <td class="align-middle">Средняя образовательная школа №265</td>
                <td class="align-middle">
                    <div class="d-flex">
                        <i class="fa fa-map-marker g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                        <span>389ZA2 DeClaudine, CA, USA</span>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="progress rounded-0 g-overflow-visible g-mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="25">
                            <div class="pull-right g-font-size-11 g-px-5">5/25</div>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" href="future_event.html">
                        <i class="fa fa-plus g-mr-5"></i>
                        Зарегистрироваться
                    </a>
                </td>
            </tr>
            <tr>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-calendar g-mr-1"></i>
                    <span>10 марта 2018 г.</span>
                </td>
                <td class="align-middle g-font-weight-600" nowrap>
                    <i class="fa fa-clock-o g-mr-1"></i>
                    <span>18:00</span>
                </td>
                <td class="align-middle">Средняя образовательная школа №265</td>
                <td class="align-middle">
                    <div class="d-flex">
                        <i class="fa fa-map-marker g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                        <span>389ZA2 DeClaudine, CA, USA</span>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="progress rounded-0 g-overflow-visible g-mb-20">
                        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="25">
                            <div class="pull-right g-font-size-11 g-px-5">5/25</div>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" href="future_event.html">
                        <i class="fa fa-plus g-mr-5"></i>
                        Зарегистрироваться
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--End Basic Table-->
</section>