{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="csrf-token" content="{{csrf_token}}">

    {% block meta %}{% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body>
<main id="app">
    <!-- Header -->
    {% include 'layout/_partials/header.html' %}
    <!-- End Header -->

    <div class="g-min-height-50vh">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    {% include 'layout/_partials/footer.html' %}
    <!-- End Footer -->

    <!-- Copyright Footer -->
    {% include 'layout/_partials/copyright_footer.html' %}
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
         "bottom": 15,
         "right": 15
       }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<script src="{% static 'js/scripts.min.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });

    $(document).on('ready', function () {
        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });
    });
</script>
</body>
</html>
