<header id="js-header" class="u-header u-header--static">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-0">
        <nav class="js-mega-menu navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a href="/" class="navbar-brand">
                    <img src="img/logo/logo-1-1.png" alt="Image Description">
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                    <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if active_menu == "home" %}active{% endif %}">
                            <a href="/" class="nav-link g-py-7 g-px-0">Главная</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if active_menu == "news_list" %}active{% endif %}">
                            <a href="news_list.html" class="nav-link g-py-7 g-px-0">Новости</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if active_menu == "about" %}active{% endif %}">
                            <a href="about.html" class="nav-link g-py-7 g-px-0">О нас</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if active_menu == "play" %}active{% endif %}">
                            <a href="play.html" class="nav-link g-py-7 g-px-0">Спектакль "В гостях у Ивана"</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if active_menu == "calendar" %}active{% endif %}">
                            <a href="calendar.html" class="nav-link g-py-7 g-px-0">Календарь</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if active_menu == "contacts" %}active{% endif %}">
                            <a href="contacts.html" class="nav-link g-py-7 g-px-0">Контакты</a>
                        </li>
                    </ul>
                </div>
                <!-- End Navigation -->

                <div class="d-inline-block g-hidden-xs-down g-pos-rel g-valign-middle g-pl-40 g-pl-10--lg g-pt-10 g-pt-0--lg">
                    <ul class="list-inline text-center text-md-right g-my-10 g-my-0--md">

                        <li class="list-inline-item g-mx-5" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                            <a href="https://fb.com" target="_blank" class="g-color-black-opacity-0_6 g-color-black--hover g-font-size-14 u-icon-v2 u-icon-size--xs g-rounded-50x">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li class="list-inline-item g-mx-5" data-toggle="tooltip" data-placement="top" title="" data-original-title="Vkontakte">
                            <a href="https://vk.com" target="_blank" class="g-color-black-opacity-0_6 g-color-black--hover g-font-size-14 u-icon-v2 u-icon-size--xs g-rounded-50x">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>

                        <li class="list-inline-item g-mx-5" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                            <a href="https://instagram.com" target="_blank" class="g-color-black-opacity-0_6 g-color-black--hover g-font-size-14 u-icon-v2 u-icon-size--xs g-rounded-50x">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                        <li class="list-inline-item g-mx-5" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube">
                            <a href="https://youtube.com" target="_blank" class="g-color-black-opacity-0_6 g-color-black--hover g-font-size-14 u-icon-v2 u-icon-size--xs g-rounded-50x">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>