{% load thumbnail %}

<!-- Blog Grid Classic Blocks -->
<div class="container g-py-100">
    <div class="masonry-grid row g-mb-70">
        <div class="masonry-grid-sizer col-sm-1"></div>

        {% for item in news_list %}
            <div class="masonry-grid-item col-sm-6 g-mb-30">
                <!-- Blog Classic Blocks -->
                <article class="u-shadow-v11">
                    <a href="{% url "news_detail" slug=item.slug %}">
                        <img class="img-fluid w-100" src="{{ item.image|thumbnail_url:"news_md" }}" alt="{{ item.title }}">
                    </a>
                    <div class="g-bg-white g-pa-20">
                        <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">{{ item.publish_date|date }}</span>
                        <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="{% url "news_detail" slug=item.slug %}">{{ item.title }}</a>
                        </h2>
                        <div class="g-line-height-1_8">{{ item.text|striptags|truncatewords:40|safe }}</div>
                        <a class="g-font-size-13" href="{% url "news_detail" slug=item.slug %}">Читать далее...</a>

                        <hr class="g-my-20">

                        <ul class="list-inline d-flex justify-content-between mb-0">
                            <li class="list-inline-item g-color-gray-dark-v4">
                                <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover"
                                   href="{% url "news_detail" slug=item.slug %}">
                                    <i class="align-middle g-font-size-default mr-1 fa fa-comments"></i>
                                    Комментариев:  <span class="disqus-comment-count" data-disqus-identifier="news-{{ item.pk }}">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <!-- End Blog Classic Blocks -->
            </div>
        {% endfor %}

    </div>

    {% if is_paginated %}
        <!-- Pagination Block -->
        {% include "news/list/_partials/pagination.html" %}
        <!-- End Pagination Block -->
    {% endif %}
</div>
<!-- End Blog Grid Classic Blocks -->