{% load thumbnail %}

<!-- Heading -->
<header class="text-center g-width-60x--md mx-auto g-mb-50">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Действующие лица и исполнители</h2>
    </div>
    <p class="g-font-size-16">Роли исполняют профессиональные актёры севастопольских театров.</p>
</header>
<!-- End Heading -->

<!-- Team Block -->
<div class="row">
    {% for role in play.personplayrole_set.all %}
        <div class="col-sm-4 g-mb-40">
            <!-- Figure -->
            <figure class="text-center">
                <!-- Figure Image -->
                <div class="d-block mx-auto rounded-circle g-max-width-200 g-bg-white g-pa-5 g-mb-15">
                    {% if role.person.image %}
                        <img class="rounded-circle g-max-width-190" src="{{ role.person.image|thumbnail_url:'avatar_sq' }}" alt="{{ role.person.name }}">
                    {% else %}
                        <img class="rounded-circle g-max-width-190" src="//via.placeholder.com/400x400?text=No+Image" alt="No image">
                    {% endif %}
                </div>
                <!-- End Figure Image -->

                <!-- Figure Info -->
                <div class="g-mb-10">
                    <h4 class="h4 g-color-black g-mb-5">{{ role.person.name }}</h4>
                    <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">{{ role.role }}</em>
                </div>
                <p class="g-px-30 g-color-black-opacity-0_7">{{ role.text }}</p>
                <!-- End Info -->
            </figure>
            <!-- End Figure -->
        </div>
    {% endfor %}
</div>
<!-- End Team Block -->