{% set title = "Фотоархив" %}
{% set active_menu = "photo_archive" %}

{% extends "app/nunjucks/layout/base.njk" %}

{% block content %}
    <!-- Promo Block -->
    {% include "app/nunjucks/pages/photo_archive/list/_partials/breadcrumbs.njk" %}
    <!-- End Promo Block -->

    <section class="container g-pt-100 g-pb-40">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Фото с
                    мероприятий</h2>
            </div>
            <p class="g-font-size-16">Ниже представлены фотографии с наших спектаклей.</header>

        <div class="row text-center">
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
            <div class="col-6 col-md-4 g-mb-30">
                <a href="photo_archive_detail.html"
                   class="d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after g-rounded-6">
                    <img src="/img/play/1.jpg"
                         alt=""
                         class="img-fluid u-block-hover__main--zoom-v1">
                    <strong
                            class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"
                    ><i class="h6 g-color-white-opacity-0_8">2 апреля 2018 г. в 18:00</i><br>ДДЮТ</strong>
                </a>
            </div>
        </div>
    </section>
{% endblock %}