{% extends 'layout/base.html' %}

{% block title %}{% if page_data.meta_title %}{{ page_data.meta_title }}{% else %}Фотоархив{% endif %}{% endblock %}
{% block keywords %}{{ page_data.meta_keywords|default_if_none:'' }}{% endblock %}
{% block description %}{{ page_data.meta_description|default_if_none:'' }}{% endblock %}

{% block content %}

    <!-- Breadcrumbs Block -->
    {% include 'photo_archive/list/_partials/breadcrumbs.html' %}
    <!-- End Breadcrumbs Block -->

    <section class="container g-pt-100 g-pb-40">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">{{ page_data.title }}</h2>
            </div>

            <div class="g-font-size-16">
                {{ page_data.text|safe }}
            </div>
        </header>

        <!-- Events Block -->
        {% include 'photo_archive/list/_partials/events.html' %}
        <!-- End Events Block -->
    </section>

{% endblock %}