{% set title = "Съёмка рекламного ролика" %}
{% set active_menu = "news_list" %}

{% extends "app/nunjucks/layout/base.njk" %}

{% block content %}
    <!-- Promo Block -->
    {% include "app/nunjucks/pages/news/detail/_partials/breadcrumbs.njk" %}
    <!-- End Promo Block -->

    <div class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">
            <!-- Article Block -->
            {% include "app/nunjucks/pages/news/detail/_partials/article.njk" %}
            <!-- End Article Block -->

            <!-- Sidebar Block -->
            {% include "app/nunjucks/pages/news/detail/_partials/sidebar.njk" %}
            <!-- End Sidebar Block -->
        </div>
    </div>
{% endblock %}