{% load l10n %}
<section>
    <div class="g-min-height-400">
        <yandex-map
                :coords="[44.62, 33.52]"
                zoom="9"
                style="width: 100%; height: 400px;"
        >
            {% for place in places %}
                <ymap-marker
                        marker-id="{{ place.pk }}"
                        marker-type="placemark"
                        :coords="[{{ place.latitude|unlocalize }}, {{ place.longitude|unlocalize }}]"
                        hint-content="{{ place.title }}"
                        :balloon="{{ place.get_map_marker_balloon }}"
                        :options="{iconColor: '{{ place.color }}', preset: 'islands#greenDotIconWithCaption'}"
                ></ymap-marker>
            {% endfor %}
        </yandex-map>
    </div>
</section>