<section class="container g-pt-100 g-pb-50">
    <div class="row">
        <div class="col-lg-12">
            <!-- Heading -->
            <div class="text-center">
                <h2 class="h3 g-color-black text-uppercase mb-2">{{ page_data.article_title }}</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            </div>
            <!-- End Heading -->

            <div class="g-line-height-1_8">
                {{ page_data.article_text|safe }}
            </div>
        </div>
    </div>
</section>