{% load thumbnail %}

<section class="container g-pt-70 g-pb-100">
    <div class="row justify-content-center g-mb-30">
        <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center">
                <h2 class="h3 g-color-black text-uppercase mb-2">Проект поддерживают</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary"></div>
            </div>
            <!-- End Heading -->
        </div>
    </div>

    <div class="js-carousel g-pb-45"
         data-autoplay="true"
         data-slides-show="5"
         data-slides-scroll="5"
         data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x text-center g-bottom-20"
         data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3,
                     "slidesToScroll": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2,
                     "slidesToScroll": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1,
                     "slidesToScroll": 1
                   }
                 }]'>
        {% for partner in partners %}
            <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                {% if partner.url %}
                    <a href="{{ partner.url }}" target="_blank" rel="noopener"><img class="img-fluid mx-auto"
                                                                                    src="{{ partner.image|thumbnail_url:"partner" }}"
                                                                                    title="{{ partner.title }}"
                                                                                    alt="{{ partner.title }}"></a>
                {% else %}
                    <img class="img-fluid mx-auto" src="{{ partner.image|thumbnail_url:"partner" }}"
                         title="{{ partner.title }}"
                         alt="{{ partner.title }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>