<dl class="row g-pt-30 g-pt-0--lg">
    <dt class="col-sm-5 text-uppercase">Спектакль</dt>
    <dd class="col-sm-7"><a href="play.html">В гостях у Ивана</a></dd>

    <dt class="col-sm-5 text-uppercase">Дата</dt>
    <dd class="col-sm-7">10 марта 2018 г.</dd>

    <dt class="col-sm-5 text-uppercase">Время</dt>
    <dd class="col-sm-7">18:00</dd>

    <dt class="col-sm-5 text-uppercase">Место проведения</dt>
    <dd class="col-sm-7">Средняя образовательная школа №265</dd>


    <dt class="col-sm-5 text-uppercase">Адрес</dt>
    <dd class="col-sm-7">Улица Пушкина, 1</dd>
</dl>

<p class="lead g-pt-30--lg">Регистрация на это мероприятие в данный момент закрыта, т.к. мероприятие уже состоялось.</p>